<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>


    <title>业务代码管理服务</title>
  </head>

  <body>
    <div id="app">
        <div id="bussenissCodeList">
            <h3>业务错误码列表<a href="#saveBusinessCode">申请错误码</a></h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>业务模块</th>
                        <th>类型</th>
                        <th>业务代码</th>
                        <th>说明</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in lists.bussenissCodeList" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.moduleCode }}</td>
                        <td>{{ item.typeCode }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.status }}</td>
                        <td><button :data-id="item.id" @click="editBusinessCode">编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button :data-id="item.id" @click="deleteBusinessCode">失效</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/>
        <div id="moduleCodeList">
            <h3>业务模块代码列表</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>常量</th>
                        <th>代码</th>
                        <th>说明</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in lists.moduleCodeList" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.status }}</td>
                        <td><a href="#">失效</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/>
        <div id="typeCodeList">
            <h3>错误类型代码列表</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>常量</th>
                        <th>代码</th>
                        <th>说明</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in lists.typeCodeList" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.status }}</td>
                        <td><a href="#">失效</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/> <hr/> <hr/>
        <div id="saveBusinessCode">
            <div >
                <dl>
                    <dt>业务模块<span class="required">*</span></dt>
                    <dd>
                        <select name="moduleCode" v-model="models.bussenissCode.moduleCode">
                            <option  v-for="item in lists.moduleCodeList" :key="item.id" :value="item.code">{{item.title}}</option>
                        </select>
                    </dd> 
                    <dt>错误类型<span class="required">*</span></dt>
                    <dd>
                        <select name="typeCode" v-model="models.bussenissCode.typeCode">
                            <option   v-for="item in lists.typeCodeList" :key="item.id" :value="item.code">{{item.title}}</option>
                        </select>
                    </dd>
                    <dt>名称<span class="required">*</span></dt>
                    <dd>
                        <input name="title" v-model="models.bussenissCode.name"/>
                    </dd>
                    <dt>常量标识(英文)</dt>
                    <dd>
                        <input name="name" />
                    </dd>
                    <dt>说明<span class="required">*</span></dt>
                    <dd>
                        <textarea name="description" v-model="models.bussenissCode.description">
                        </textarea>
                    </dd>
                </dl>
                <button @click="saveBusinessCode" >提交</button>
            </div>

        </div>
    </div>

    <script>
      const app = new Vue({
                el: '#app',
                data:{
                    lists:{
                        bussenissCodeList:[],
                        moduleCodeList:[],
                        typeCodeList:[],
                    },
                    models:{
                        bussenissCode:{
                            id:0,
                            moduleCode:0,
                            typeCode:0,
                            name:"",
                            title:"",
                            description:"",
                            status:"",
                            createTime:"",
                            updateTime:""
                        }
                    }
                },
                created: function () {
                    axios.get('/api/v1/code/list').then((response) => {
                        this.lists.bussenissCodeList=response.data
                    });
                    axios.get('/api/v1/module/list').then((response) => {
                        this.lists.moduleCodeList=response.data
                    });
                    axios.get('/api/v1/type/list').then((response) => {
                        this.lists.typeCodeList=response.data
                    });
                },
                methods:{
                    saveBusinessCode() {
                        const model = this.models.bussenissCode
                        const url = model.id?'/api/v1/code/update':'/api/v1/code/create';
                        const method = model.id?"put":"post";
                        axios[method](url,model).then((response) => {
                            location.reload();
                        });
                        return false;

                    },
                    editBusinessCode(e) {
                        const id = e.target.dataset.id;
                        axios.get(`/api/v1/code/get?id=${id}`).then((response) => {
                            const model = response.data;
                            console.log("model", model);
                            this.models.bussenissCode=model;
                        });
                        return false;
                    },
                    deleteBusinessCode(e) {
                        const id = e.target.dataset.id;
                        axios.delete(`/api/v1/code/delete?id=${id}`).then((response) => {
                            location.reload();
                        });
                        return false;
                    }
                }
            })
            

    </script>
    <style >
        table{
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        tr{
            border: 1px solid #ddd; 
        }
       td{
           display: table-cell;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }
        .th{
            background-color: #0088cc;
        }
        .required {
            color: red;
        }
    </style>
  </body>
</html>